.text-head {
    margin-top: 900px;
    font-size: 25px;
}
.text-header {
    margin-top: 107px;
    /* font-size: 25px; */
}
.invincible {
    padding: 200px 0;
    background-color: #ffffff00;
    background-image: url("Rectangle.png");
    background-size: cover;
    /* background-position: top; */
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
    height: 810px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.invincible h1 {
    font-family: 'Ginkgo';
    font-style: normal;
    font-weight: 400;
    font-size: 108px;
    line-height: 140px;
    text-align: center;
    background: linear-gradient(100deg, #FFC325 0%, #FF3D00 98.88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transform: translateY(-600px);
    animation: 1.2s slideIn ease-in-out forwards 1s; */
    animation: fadeInAnimation ease 3.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
    margin: 0 15%;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.about {
    margin-top: -75px;
    margin-bottom: 130px;
}
.intro-img {
    position: relative;
    width: 200px;
    height: 200px;
    float: right;
    top: -33px;
    border-radius: 235px;
    z-index: -1;
}
/* @media only screen and (min-width: 1582px) {
    .intro-img {
        top: 630px;
    }
} */
.projectdiv {
    display: contents;
}
.principles {
    display: flex;
}
.good-design {
    margin-right: 140px;
}
.principles img {
    border-radius: 12px;
}
.principles h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}
@media only screen and (max-width: 400px){
    .container {
        padding: 30px;
    }
}
@media only screen and (max-width: 660px){
    .invincible h1 {
        font-size: 55px;
        margin: 0;
    }
}
@media only screen and (max-width: 925px){
    /* .home {
        margin: 0 5%;
    } */
    .intro div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 48%;
    }
    .intro-img {
        /* margin-left: 40%; */
        position: relative;
        top: 845px;
        height: 150px;
        width: 150px;
    }
    .intro-text {
        text-align: center;
    }
    .text-head {
        text-align: center;
    }
}
.skills {
    list-style-type: none;
    /* Responsive */
    /* margin: 20px 57%; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.skills li {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* position: absolute; */
    font-size: 14px;
    width: auto;
    height: 50px;
    /* left: 0px;
    top: 20px; */
    border: 1.8px solid #959595;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    border-radius: 25px;
}
.reds:hover {
    border: 2px solid #EA1B1B;
    font-size: 15px;
}
.greens:hover {
    border: 2px solid #97DC04;
    font-size: 15px;
}
.purples:hover {
    border: 2px solid #AE12E4;
    font-size: 15px;
}
.blues:hover {
    border: 2px solid #A1E6FC;
    font-size: 15px;
}
.myself {
    /* position: relative;
    width: 414px;
    height: 64px;
    left: 37%;
    top: -95px; */
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 50px;
    /* line-height: 64px; */
    /* identical to box height, or 173% */
    letter-spacing: -0.5px;
}
.about div {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    color: #959595;
}
.artworks {
    position: absolute;
    background: #494949;
    z-index: -1;
    left: 0px;
    width: 100%;
    /* height: 685px;
    top: 1347px; */
}
.art {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.artbg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 15%;
    background: #f9f9f9;
    border-radius: 12px;
    padding: 45px 0;
    margin-bottom: 130px;
}
.artworks button {
    font-family: 'DM Sans';
    font-style: normal;
    padding: 18px 40px;
    font-size: 16px;
    border: 1px solid #EEEEEE;
    background: #EEEEEE;
    border-radius: 12px;
}
@media only screen and (max-width: 925px){
    .artbg {
        display: grid;
        justify-items: center;
        background: #494949;
    }
    .art {
        margin-bottom: 60px;
    }
}
@media only screen and (min-width: 1311px) {
    .art {
        width: 300px;
        height: 290px;
    }
}
.project {
    margin-bottom: 15px;
}
.project img {
    position: relative;
    width: 250px;
    height: 250px;
    left: 0px;
    top: 25px;
    z-index: -1;
    object-fit: cover;
    /* background: #CEEA21; */
    mix-blend-mode: normal;
    border-radius: 12px;
}
.text {
    display: inline-block;
    margin-left: 10%;
}
.text p {
    padding: 24px 0;
}
.text button {
    width: 241px;
    height: 55px;
    left: 576px;
    top: 343px;
    color: #494949;
    background: #ebebeb;
    border: none;
    border-radius: 12px;
    font-family: 'DM Sans', sans-serif;
}
.text button:hover {
    background: #893a96;
    color: #ebebeb;
    border: none;
}
.squid {
    position: absolute;
    width: 100%;
    height: 487px;
    left: 0px;
    top: 60px;
    color: #f9f9f9;
    z-index: -1;
    background-image: url("squidbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.webhub-overview {
    background: #f4f4f4;
    position: absolute;
    width: 100%;
    height: 183px;
    left: 0;
    margin-top: 500px;
    z-index: -1;
}
.webhub-overview ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.webhub-nav {
    list-style-type: none;
    position: absolute;
    left: 4%;
    margin-top: 115vh;
    /* z-index: -1; */
}
.webhub-nav li {
    margin: 35px 0;
}
.webhub-nav li a {
    text-decoration: none;
    color: inherit;
}
.overview-text li {
    color: #6D0EB8;
    font-size: 24px;
    margin-right: 35px;
}
.duration {
    margin-left: 2%;
}
.duration2 {
    margin: 0 35px;
}
.sub-text span {
    margin: 0 50px;
}
.tools {
    margin: 0 50px;
}
.tools2 {
    margin-right: 20px;
}
.contrs {
    margin-left: 75px;
}
@media only screen and (max-width: 1026px) {
    .projectdiv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 48%;
    }
    .text {
        display: grid;
        margin: 0 23%;
        text-align: center;
        justify-content: center;
    }
    .text h2 {
        margin-top: 60px;
    }

}
@media only screen and (max-width: 800px) {
    .projectdiv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 48%;
    }
    .text {
        display: grid;
        margin: 0 23%;
        text-align: center;
        justify-content: center;
    }
    .text h2 {
        margin-top: 60px;
    }
    .principles {
        display: contents;
        text-align: left;
    }
    .principles img {
        width: 170px;
    }
    .good-design {
        margin-right: 0px;
        margin-bottom: 70px;
    }
}