.text-head {
    margin-top: 85px;
}
.intro-img {
    position: absolute;
    width: 370px;
    height: 400px;
    left: 53%;
    top: 50px;
}
@media only screen and (min-width: 800px){
    .home {
        margin: 0 4%;
    }
}
.skills {
    list-style-type: none;
    /* Responsive */
    /* margin: 20px 57%; */
    padding: 0;
    display: flex;
}
.skills li {
    margin: 0 5px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 48px;

/* position: absolute; */
width: 184px;
height: 50px;
/* left: 0px;
top: 20px; */

border: 1.8px solid #959595;
box-sizing: border-box;
border-radius: 25px;
}