.text-head {
    margin-top: 85px;
}
.intro-img {
    position: absolute;
    width: 370px;
    height: 400px;
    right: 8%;
    top: 50px;
    z-index: -1;
}
@media only screen and (min-width: 800px){
    .home {
        margin: 0 4%;
    }
}
.skills {
    list-style-type: none;
    /* Responsive */
    /* margin: 20px 57%; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.skills li {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 48px;

    /* position: absolute; */
    font-size: 14px;
    width: auto;
    height: 50px;
    /* left: 0px;
    top: 20px; */

    border: 1.8px solid #959595;
    box-sizing: border-box;
    border-radius: 25px;
}
.about h2 {
    position: absolute;
    width: 414px;
    height: 64px;
    left: 37%;
    top: 345px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 64px;
    /* identical to box height, or 173% */

    letter-spacing: -0.5px;
}
.about p {
    position: relative;
    /* width: 900px; */
    height: 240px;
    /* left: 267px; */
    top: 380px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

text-align: center;

color: #959595;

}