html {
  background-color: #E5E5E5;
  color: #494949;
}
.container {
  padding: 50px;
  padding-bottom: 0;
  margin: 0 11%;
}
.ellipse {
  height: 140px;
  float: right;
}
.elllipse {
      /* position: relative; */
    /* width: 742px; */
    /* left: 974px; */
    /* top: 183px; */
    /* height: 100px;
    filter: blur(220px);
    background: linear-gradient(124.24deg, #A1E6FC 14.51%, rgba(255, 171, 46, 0.5) 46.64%, #AE12E4 85.1%); */
    /* opacity: 0.57; */
    /* position: absolute;
    width: 742px;
    left: 974px;
    top: 4357px; */
    height: 100px;
    background: linear-gradient(124.24deg, #FFAB2E 45.39%, #AE12E4 85.1%);
    opacity: 0.57;
    filter: blur(100px);
    
}
@media only screen and (max-width: 800px) {
  .elllipse {
    position: relative;
    top: -250px;
    background: conic-gradient(from 180deg at 50% 50%, #FFA800 0deg, #FF01B7 360deg);
    filter: blur(130px);
    transform: matrix(0.55, -0.72, 1.04, 0.45, 0, 0);
  }
}